body{
    color:#404040; 
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    animation: gradient 15s ease infinite;
	background-size: 400% 400%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.content{
    display: block;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;  
    border-radius: 20px;
    width: 80%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    padding: 2%;
}
 
.profile{
    width:100%; 
    display:flex; 
    justify-content: space-around; 
    align-items: center;
    border-bottom: 5px dotted #ff5f6d; 
    padding-bottom: 40px;
}

.board {
    display: inline-block;
    width: 220px;
}

.cell {
    width: 70px;
    height: 70px;
    border: 1px solid #ccc;
    font-size: 40px;
    cursor: pointer;
    text-align: center;
}

thead{
    background-color: #FFA07A	;
}

table, th, td {
    border: 3px solid #FF7F50;
    border-collapse: collapse;
    padding:10px;
}

.profile_image {
    border: 10px solid #ff5f6d;  
    box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
    background-color: white;
    border-radius: 50%; 
    width: 250px; 
    height: 250px; 
    display: inline-block;
}

.icon_image{
    width: 35px;
    height: 35px;
    padding: 2px;
    top: 10px;
    position: relative;
}


.button {
    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 8px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button:hover {
    background-color: #fff;
  }
  
  .button:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
  }
  
  @media (min-width: 768px) {
    .button {
      min-width: 80px;
      padding: 0 15px;
    }
  }